h1{
    font-size: 70px;
}
h3{
    font-size: 100px;
}
.familiaTexto{
    font-family: "papyrus";
    font-size: 15px;
    color: #3374FF;
    text-align: justify;

}
.bodyprincipa{
    background-color: rgb(119, 59, 16);
}
.clase1{ 
    background-color: chartreuse;


}
.clase2{
    background-color: cyan
}
.imagenfondo{
    background-image: url(img/primeraimagen.jpg);
    height:800px ;
    background-attachment: fixed;
}
.textocolor {
    color: cornflowerblue;
}