h1{
    font-size: 70px;
}
h3{
    font-size: 100px;
}
.familiaTexto{
    font-family: "papyrus";
    font-size: 15px;
    color: #3374FF;
    text-align: justify;

}
body{
    background-color: chocolate;
}